*.iml
.gradle
/.vscode
/.idea
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
*.keystore
/app/build
/.toolchain
/dist
/.kotlin
/.kotlin/sessions
